/* Базовые стили начало */
* {
    box-sizing: border-box;
}
.body {
     margin: 0;
 }
.red {
    color: #e53556;
}
.grey {
    color: #a999a9;
}
.yellow {
    color: #ffcc5a;
}
.blue {
    color: #99d1f5;
}
/* Конец базовых настроек страницы */


/* Универсальные стили */
/*   , - это означает дополнительное обращение к тому или иному элементому */
.left, .ul_li li {
    float: left;
    /* float - это обтекание, то есть выравнивание в какую сторону  */
}
.right {
    float: right;
}
.ul_li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.ul_li li {
    padding: 10px 15px;
    
}
/* 15 урок */
.b-r li {
    border-right: 1px solid #a999a9;
}
.b-r li:last-child {
    border-right: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.icon_msg {
    position: relative;
}
.msg {
    position: absolute;
    top: 38px;
    right: 1000px;
    background: red;
    width: 14px;
    height: 14px;
    text-align: center;
    color: white;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 13px;
}
/* домашка 14 урока */
.left i, .right i {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 14px;
    width: 34px;
    height: 34px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: center;
}






/* Конец универсальных стилей */





/* Стили для страницы начало */
/* Урок 14 */
.top_menu {
    background: #f7f7f7;
    display: inline-block;
    width: 100%;
}
.list_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}



/* Конец стилей для страницы */